<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <div title="Stec Logo" class="footer-logo">
                <a href="https://stec.cx"><img src="https://stec.cx/img/Stecminimalista-logo.svg" width="82" alt=""></a>
            </div>
            <p class="footer-text">Transformando ideias em realidade digital. Somos especialistas em criar soluções
            inovadoras que impulsionam o seu negócio para o futuro.</p>
            <div class="social-icons">
                <a target="_blank" href="https://wa.me/559285081154"><i class="fa-brands fa-whatsapp"></i></a>
                <a target="_blank" href="https://www.instagram.com/stecbr/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/stec-ai/"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3 class="footer-title">Navegue</h3>
            <ul class="footer-list">
                <li><a href="https://stec.cx">Home</a></li>
                <li><a href="https://stec.cx/jobs/">Trabalhe conosco</a></li>
                <li><a href="https://stec.beehiiv.com/">Stec Newsroom</a></li>
                <li><a href="https://wa.me/559285081154">Entre em Contato</a></li>
                <li><a href="https://stec.cx/compliance/sobre-ia-generativa">Sobre IA Generativa</a></li>
                <li><a href="https://stec.cx/compliance/policy">Política de Uso de IA</a></li>
                <li><a href="https://stec.cx/compliance/privacy">Política de Privacidade e Dados</a></li>
                <li></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3 class="footer-title">Produtos</h3>
            <ul class="footer-list">
                <li><a href="https://stec.cx/merlinlp/">Merlin</a></li>
                <li><a href="https://stec.cx/lp/advia.html">Advia</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3 class="footer-title">Entre em contato</h3>
            <form class="footer-form">
            <input type="email" placeholder="Email" class="footer-input" required>
            <textarea placeholder="Sua mensagem" class="footer-input" rows="4" required></textarea>
            <button type="submit" class="footer-button">Enviar Mensagem</button>
            </form>
        </div>

    </div>
        <div class="footer-bottom">
            <p>&copy; 2024 STEC. Todos os direitos reservados.</p>
            <p>CNPJ: 44.284.018.0001-38</p>
        </div>
</footer>